@media print {
  body {
    margin: 0;
    padding: 0;
  }

  
  body {
    visibility: hidden;
  }
  .labels-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    visibility: visible;
  }
  .label-card-container {
    visibility: visible;
  }

  .label-card-container {
    width: 2.5in;
    height: 1.5in;
    page-break-after: always;
    box-sizing: border-box;
  }
}

@page {
  size: auto; /* or size: 2.5in 1.5in; for specific page size */
  margin: 0;
}
