@media print {
  body {
    width: 508px;
    height: 305px;
    margin: 0;
    padding: 0;
  }
  body * {
    visibility: hidden;
  }
  .label-card-container, .label-card-container * {
    visibility: visible;
  }
  .label-card-container {
    position: absolute;
    left: 0;
    top: 0;
    page-break-after: always;
   
   
  }
}

@page {
  margin: 0;
}
