h4,span{
    color:var(--darkblue_p-50)
}

.logo span{
    font-size: 26px;
    background-color: #5500FF;
    padding: 4px;
    border-radius: 4px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 8px;
}
