.print {
    /* Estilos existentes */
}

.printable-area {
    width: 210mm; /* Ancho estándar de una hoja A4 */
    min-height: 297mm; /* Alto estándar de una hoja A4 */
    margin: 10mm; /* Márgenes */
    padding: 10mm;
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho y alto */
    /* Otros estilos que puedas necesitar para el diseño de impresión */
    background-color: #f0f0f0; /* Color de fondo de prueba */
    border: 1px solid black; /* Borde de prueba */
    page-break-after: always;
}

.no-print {
    display: none;
}


.print__content{
     display: grid;
    grid-template-columns: repeat(6, 1fr); /* 3 columnas iguales */
    gap: 20px; 
     page-break-after: always;
}