/* Add your styles here */
.inputText {
    background-color: #1E1A37;
    all: unset;
    color: var(--neutrals-1);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: regular;
    border: solid 0.4px var(--neutrals-9);
    padding: 10px 4px;
    border-radius: 4px;
}

.inputText::placeholder {
    color: var(--neutrals-9);
    opacity: 1;
}

.inputText:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--neutrals-9);
}

.inputText::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--neutrals-9);
}