h5 {
    color: var(--lightblue_p-50);
}

.login {
    background-color: #161230;
    width: 352px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    border: solid 0.4px var(--neutrals-9);
    border-radius: 4px;
    padding: 54px;
}

.inputWrapper {
    width: 214px;
    display: flex;
    flex-direction: column;
    gap: 8px
}