.wrapper {
    display: flex;
    width: 100vw;
}

.container {
    flex: 5;
    max-width: 100%;
}

.products-container{
    padding: 60px 80px;
}
.products-header button{
    background-color: #3866F2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Responsive adjustments for larger screens */
@media screen and (min-width: 1920px) {
    .container {
        flex: 11; /* Increase content area ratio on larger screens */
        max-width: 100vw; /* Prevent excessive stretching */
      
    }
}
