.fixedBarcode__content{
    display: flex;
    padding: 44px;
    justify-content: center;
   

}

.fixedBarcode__card {
    width: 450px;
    display: flex;
    border-radius:8px;
    gap:24px;
    flex-direction: column;
      border: solid 0.4px var(--neutrals-8);
      padding: 44px;
    
}

.fixedBarcode__footer{
      display: flex;
    flex-direction: column;
    gap: 4px;
    align-content: center;
    align-items: center;
}
